<%= form_for(@member_voucher_metum) do |f| %>
  <% if @member_voucher_metum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member_voucher_metum.errors.count, "error") %> prohibited this member_voucher_metum from being saved:</h2>

      <ul>
      <% @member_voucher_metum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
