<% content_for(:page_title, "修改积分返利支付计划 － #{@merchant_store.name} - #{@form.model.id}") %>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-lg-10 ">
                    <%= render 'form' %>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
