<h1>Listing merchant_bank_discounts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @merchant_bank_discounts.each do |merchant_bank_discount| %>
      <tr>
        <td><%= link_to 'Show', merchant_bank_discount %></td>
        <td><%= link_to 'Edit', edit_merchant_bank_discount_path(merchant_bank_discount) %></td>
        <td><%= link_to 'Destroy', merchant_bank_discount, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bank discount', new_merchant_bank_discount_path %>
