<%= form_for(@merchant_merchant_store) do |f| %>
  <% if @merchant_merchant_store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@merchant_merchant_store.errors.count, "error") %> prohibited this merchant_merchant_store from being saved:</h2>

      <ul>
      <% @merchant_merchant_store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
