<div class="col-sm-6"><%= page_entries_info(@merchant_stores, model: 'merchant_store') %></div>
<div class="col-sm-6" style="text-align: right"><%= will_paginate @merchant_stores, container: false %></div>