<tr class="odd gradeX">
    <td><%= check_box_tag('selected_stores[]', merchant_store.id, false)%></td>
    <td><%= merchant_store.name %></td>
    <td><%= merchant_store.merchant_number %></td>
</tr>