<h1>Editing merchant_merchant_group_merchant_store</h1>

<%= render 'form' %>

<%= link_to 'Show', @merchant_merchant_group_merchant_store %> |
<%= link_to 'Back', merchant_merchant_group_merchant_stores_path %>
